:root {
  --theme-color: #2196f3;
  --second-color: #ffffff;
  --logostudio-color: #000000;

  --background-first: #2f303a;
  --background-section-list: #e5e5e5;

  --text-primary: #212121;
  --text-secondary: #757575;
  --text-third: rgba(255, 255, 255, 0.6);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--primary-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--second-color);
}

/* =========== Header styles starts here =========== */

/* =========== WebStudio =========== */

.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-logoweb {
  color: var(--theme-color);
}

.header-logostudio {
  color: var(--logostudio-color);
}
/* =========== Navigator=========== */

.navigator-link:hover,
.navigator-link:focus {
  color: var(--theme-color);
}

.navigator .studio.current {
  color: var(--theme-color);
}

.studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}

.navigator-link:hover,
.navigator-link:focus {
  color: var(--theme-color);
}

/* =========== Contacts =========== */

.contacts-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}
.contacts-telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}
.contact:hover,
.contact:focus {
  color: var(--theme-color);
}

/* =========== Header styles ends here =========== */

/* =========== Hero-section =========== */

.hero {
  background: var(--background-first);
}

.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
}

.button.primary {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background: var(--theme-color);
}

/* =========== Section-list =========== */

.section-list {
  background: var(--background-section-list);
}
.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
}

.list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* =========== What are we doing =========== */

.title-img {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

/* =========== Masters =========== */

.title-masters {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* =========== Footer styles starts here =========== */

.footer-section {
  background: var(--background-first);
}

/* =========== Footer WebStudio =========== */

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logoweb {
  color: var(--theme-color);
}

.footer-logostudio {
  color: var(--second-color);
}

/* =========== Address =========== */

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-third);
}

.footer-telephone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-third);
}

/* =========== Footer styles ends here =========== */

/* =========== PORTFOLIO.HTML styles starts here =========== */

.navigator .portfolio.current {
  color: var(--theme-color);
}

.portfolio-main {
  background: var(--background-section-list);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--second-color);
  background: var(--theme-color);
}

.products-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-primary);
}

.menu-link {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

/* =========== PORTFOLIO.HTML styles ends here =========== */
